<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form active="{%url 'cat-dog'%}" method="GET">
      {{ form.as_p }}
      <button>Submit</button>
    </form>
    {% if cat_dog %}
    <p>There are the same amount of cats and dogs in this string!</p>
    {% else %}
    <p>There are not the same amount of cats and dogs in this string!</p>
    {% endif %}
    
</body>
</html>